Pillow
PyICU
absl-py
backcall
cython
decorator
fonttools
imagehash
ipython
ipython_genutils
matplotlib
more_itertools
networkx
numpy
pickleshare
prompt_toolkit
protobuf 
scipy
tensorflow 
traitlets
wcwidth
