name: Bazel

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Setup bazel
      uses: jwlawson/actions-setup-bazel@v1
      with:
        bazel-version: '3.2.0'

    - name: Checkout
      uses: actions/checkout@v1

    - name: Build
      run: bazel build //...

    - name: Test
      run: bazel test //...

    - name: Upload Test Results
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: Test Results
        path: bazel-testlogs*/**/*
